<p>menu works!</p>
<!-- <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Options
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Dropdown item</a></li>
      <li><a class="dropdown-item" href="#">Dropdown item</a></li>
      <li><a class="dropdown-item" href="#">Dropdown item</a></li>
    </ul>
  </div>
   -->

<div class="col-xs-8" class="list-group">
  <li *ngFor="let item of menu" class="list-group-item list-group-item-primary">
    
    <div>
      <div name="name">
        Beverage: {{item.beverageName.name}}
      </div>
      
      <div name="cost">
        Cost: R{{item.price}}
      </div>

      <div name="size">
        Size: {{item.beverageSize.name}}
      </div>

    </div>

    <button mat-raised-button class="btn btn-primary" (click)="addToCart(item)">
      Add to cart
    </button>
  
  </li>
</div>